.registration-form{
    width: 80%;
    margin: 10% auto;
    border: 2px solid rgb(27, 225, 146);
    border-radius: 10px;
    padding: 25px;
    background-color: rgb(1, 1, 14);
    color:white
  }
  .valid-feedback{
      color:green;
      font-weight: bold;
  }
  body{
      background: url('sunrise-over-beach-cancun-beautiful-mexico-40065727.jpg');
      height: 100%;
  }
  